@{
    ViewData["Title"] = "Ticket Repository";
}

<div class="text-center">
    <h1 class="display-4">tickets </h1>
    <h2>this is the sub header for the test view of the test controller</h2>
    <p>TICKETS AND MORE TICKETS </p>
</div>
