@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<p>Aprende sobre <a href="https://docs.microsoft.com/es-es/aspnet/core/?view=aspnetcore-6.0">building Web apps with ASP.NET Core.</a></p>
