@{
    ViewData["Title"] = "Home Page";
}
<h1>@ViewData["Title"]</h1>
<p>Aprende sobre <a href="https://docs.microsoft.com/es-es/aspnet/core/?view=aspnetcore-6.0">building Web apps with ASP.NET Core.</a></p>
<p>This view comes from Home/Index.cshtml, header and footer are from _Layout.cshtml</p>
<p>_Layout.cshtml has a persona .css file which is _Layout.cshtml.css</p>
<p>Whereas, what you are reading is just the default styling for paragraphs and headers h1</p>
