@{
    ViewData["Title"] = "Test Page";
}

<div class="text-center">
    <h1 class="display-4">This is the official test </h1>
    <h2>this is the sub header for the test view of the test controller</h2>
    <p>This is some random text </p>
</div>
